html,
body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}


.container {
    background: black;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 2em;
    place-self: auto;
    justify-items: center;

}



.cont-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 2em;
    justify-content: space-evenly;
}

.cont-1-child-1 {
    background: rgb(167, 9, 70);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 3px;
    justify-content: space-evenly;
}

.cont-1-child-1>.cont-1-child-child {
    background: rgb(228, 153, 15);
}

.cont-2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 2em;
    justify-content: space-evenly;
}

.cont-2>.cont-1-child-2 {
    background: rgb(228, 153, 15);
}

.cont-3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 2em;
    justify-content: space-evenly;
}

.cont-3>.cont-1-child-3 {
    background: rgb(103, 245, 238);
}

.cont-4 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 2em;
    justify-content: space-evenly;
}

.cont-4>.cont-1-child-4 {
    background: rgb(23, 68, 6);
}


.cont-5 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 2em;
    justify-content: space-evenly;
}

.cont-5>.cont-1-child-5 {
    background: rgb(160, 55, 170);
}

.cont-6 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 2em;
    justify-content: space-evenly;
}

.cont-6>.cont-1-child-6 {
    background: rgb(145, 209, 182);
}

.cont-7 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 2em;
    justify-content: space-evenly;
}

.cont-7>.cont-1-child-7 {
    background: rgb(4, 67, 138);
}

.cont-8 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 2em;
    justify-content: space-evenly;
}

.cont-8>.cont-1-child-8 {
    background: rgb(182, 199, 25);
}

.cont-9 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 2em;
    justify-content: space-evenly;
}

.cont-9>.cont-1-child-9 {
    background: rgb(60, 196, 7);
}